@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
@import url(https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans);
html {
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
#overlay {
    font-family: 'Advent Pro', sans-serif;
    font-size: 7em;
}
a {
	color:white;
}